{"swagger":"2.0","info":{"description":"\"Login REST API for Sanitas\"","version":"1.2.2","title":"is-clientes-login-api","contact":{"name":"Arturo Bernal","url":"www.sanitas.es","email":"abernal.pex@sanitas.es"}},"host":"serviciospreinet.sanitas.dom:2010","basePath":"/is-clientes-login/api/v1","tags":[{"name":"login-api","description":"Entry point for the management of the MiSanitas session is centralized. Logs a user in, refreshes the current session, performs internal login and logs the user out of the application."}],"paths":{"/authentications":{"post":{"tags":["login-api"],"summary":"Authenticates a user","description":"Authenticate a user based on their username, password and application if necessary","operationId":"authenticationUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"userCredential","description":"The user credential object","required":true,"schema":{"$ref":"#/definitions/UserCredential"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserLogin"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/UserLogin"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/AuthenticationException"}},"500":{"description":"Unexpected Error"}},"deprecated":false}},"/authentications/bravo":{"post":{"tags":["login-api"],"summary":"Performs getPrincipal in bravo of a user","description":"Performs getPrincipal in bravo of a user","operationId":"authenticationBravoUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"userCredentialBravo","description":"The user credential object","required":true,"schema":{"$ref":"#/definitions/UserCredentialBravo"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserInternalPrivate"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/UserLogin"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/AuthenticationException"}},"500":{"description":"Unexpected Error"}},"deprecated":false}},"/authentications/internal":{"post":{"tags":["login-api"],"summary":"Performs getPrincipal in bravo of a user","description":"Performs getPrincipal in bravo of a user","operationId":"authenticationInternalUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"userCredential","description":"The user credential object","required":true,"schema":{"$ref":"#/definitions/UserCredentialInternal"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserInternalPrivate"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/UserLogin"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/AuthenticationException"}},"500":{"description":"Unexpected Error"}},"deprecated":false}}},"definitions":{"AuthenticationException":{"type":"object","properties":{"cause":{"$ref":"#/definitions/Throwable"},"code":{"type":"string"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"parameter":{"type":"array","items":{"type":"object"}},"stackTrace":{"type":"array","items":{"$ref":"#/definitions/StackTraceElement"}},"suppressed":{"type":"array","items":{"$ref":"#/definitions/Throwable"}}},"title":"AuthenticationException"},"StackTraceElement":{"type":"object","properties":{"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"nativeMethod":{"type":"boolean"}},"title":"StackTraceElement"},"Throwable":{"type":"object","properties":{"cause":{"$ref":"#/definitions/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"$ref":"#/definitions/StackTraceElement"}},"suppressed":{"type":"array","items":{"$ref":"#/definitions/Throwable"}}},"title":"Throwable"},"UserCredential":{"type":"object","properties":{"alias":{"type":"string","description":"The user Alias"},"appId":{"type":"string","description":"The App ID"},"appType":{"type":"string","description":"The App Type"},"captcha":{"type":"string","description":"The captcha parameter"},"dateCreated":{"type":"string","description":"The Date Created"},"doc":{"type":"string","description":"The user Document"},"internalAccess":{"type":"boolean"},"lastAccess":{"type":"string","format":"date-time"},"login":{"type":"string","description":"The user Login"},"password":{"type":"string","description":"The password"},"remember":{"type":"boolean","description":"If we need create the remember me"},"remember_token":{"type":"string","description":"The Remember me Token"},"remoteAddress":{"type":"string","description":"The remote IP Address"},"tclient":{"type":"string"},"uad":{"type":"array","items":{"type":"string"}},"uuid":{"type":"string","description":"The UUIID"},"uuidRemember":{"type":"string","description":"The Remember me UUIID"}},"title":"UserCredential","description":"The Credential Object. "},"UserCredentialBravo":{"type":"object","properties":{"alias":{"type":"string","description":"The user Alias"},"appId":{"type":"string","description":"The App ID"},"appName":{"type":"string","description":"The APP Name"},"appType":{"type":"string","description":"The App Type"},"captcha":{"type":"string","description":"The captcha parameter"},"dateCreated":{"type":"string","description":"The Date Created"},"doc":{"type":"string","description":"The user Document"},"idCliente":{"type":"string","description":"The user ID"},"internalAccess":{"type":"boolean"},"key":{"type":"string","description":"The Bravo Key ID"},"lastAccess":{"type":"string","format":"date-time"},"login":{"type":"string","description":"The user Login"},"password":{"type":"string","description":"The password"},"remember":{"type":"boolean","description":"If we need create the remember me"},"remember_token":{"type":"string","description":"The Remember me Token"},"remoteAddress":{"type":"string","description":"The remote IP Address"},"tclient":{"type":"string"},"uad":{"type":"array","items":{"type":"string"}},"uuid":{"type":"string","description":"The UUIID"},"uuidRemember":{"type":"string","description":"The Remember me UUIID"}},"title":"UserCredentialBravo","description":"The Bravo Credential Object"},"UserCredentialInternal":{"type":"object","properties":{"alias":{"type":"string","description":"The user Alias"},"appId":{"type":"string","description":"The App ID"},"appName":{"type":"string","description":"The APP Name"},"appType":{"type":"string","description":"The App Type"},"captcha":{"type":"string","description":"The captcha parameter"},"dateCreated":{"type":"string","description":"The Date Created"},"doc":{"type":"string","description":"The user Document"},"idCliente":{"type":"string","description":"The user ID"},"internalAccess":{"type":"boolean"},"lastAccess":{"type":"string","format":"date-time"},"login":{"type":"string","description":"The user Login"},"password":{"type":"string","description":"The password"},"remember":{"type":"boolean","description":"If we need create the remember me"},"remember_token":{"type":"string","description":"The Remember me Token"},"remoteAddress":{"type":"string","description":"The remote IP Address"},"tclient":{"type":"string"},"uad":{"type":"array","items":{"type":"string"}},"uuid":{"type":"string","description":"The UUIID"},"uuidRemember":{"type":"string","description":"The Remember me UUIID"}},"title":"UserCredentialInternal","description":"The Internal Credential Object"},"UserInternalPrivate":{"type":"object","properties":{"access_token":{"type":"string"},"apiProductList":{"type":"array","items":{"type":"string"}},"appId":{"type":"string"},"applicationName":{"type":"string"},"clientId":{"type":"string"},"developerEmail":{"type":"string"},"docId":{"type":"string"},"expiresIn":{"type":"integer","format":"int32"},"issuedAt":{"type":"string"},"organizationName":{"type":"string"},"refreshCount":{"type":"string"},"refreshToken":{"type":"string"},"refreshTokenExpiresIn":{"type":"integer","format":"int32"},"refreshTokenIssuedAt":{"type":"string"},"refreshTokenStatus":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}},"scope":{"type":"string"},"status":{"type":"string"},"tkn":{"type":"string"},"tokenType":{"type":"string"},"userId":{"type":"string"}},"title":"UserInternalPrivate","description":"The Internal Credential Object"},"UserLogin":{"type":"object","properties":{"accessToken":{"type":"string","description":"The Access Token"},"appId":{"type":"string","description":"The APP ID"},"internalAccess":{"type":"boolean"},"lastAccess":{"type":"string","format":"date-time","description":"The last access conextion"},"remToken":{"type":"string","description":"The Remember me token"},"request_token":{"type":"string","description":"The Request Token"},"status":{"type":"string","description":"The Status of the petitions"},"tclient":{"type":"string"},"tkn_inet":{"type":"array","description":"The List of Token","items":{"type":"object"}},"uad":{"type":"array","description":"The UAD for the Web","items":{"type":"string"}},"userId":{"type":"string","description":"The user ID"}},"title":"UserLogin","description":"The user Login Object. "}}}